<html ng-app="TaskApp">
<head>
<title>Task Scheduler</title>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<style>
	.done{
		text-decoration:line-through;color:#ccc;
	}
</style>
</head>
<body>
	<div ng-controller="TaskController">
		<form name="taskForm" ng-submit="addTask()">
			<input type= "text" name="newTask" ng-model="newTask" required></input>
			<button ng-disabled="taskForm.$invalid">Add Task</button>
		</form>
			<button ng-click="clearCompletedTasks()">Clear Tasks</button>
			<h3>Daily Tasks to Perform</h3>
		<ul style="text-decoration:none">
			<li ng-repeat="task in tasks">
			<input type="checkbox" ng-model="task.done"></input>
			<span ng-class="{'done':task.done}">{{task.title}}</span>
			</li>
		</ul>
	</div>

<script>
	angular.module("TaskApp",[])
	.controller("TaskController",['$scope',function($scope){
		$scope.tasks = [
			//{'title':"Daily Tasks to Perform","done":false}
		];
		$scope.addTask = function(){
			$scope.tasks.push({"title": $scope.newTask,"done":false});
			$scope.newTask="";
			
		}
		$scope.clearCompletedTasks = function(){
			$scope.tasks= $scope.tasks.filter(function(item){
				return !item.done;
			})
		}
	}])
</script>	
</body>
</html>